TMP/
tmp/
TEMP/
temp/

.**/

# input files
**/input.txt

# test
**/test.*
**/test
**/tests
!**/test.txt

# out files
**/out.*
**/out*[0-9].*
**/out/
**/output/

# rust
**/target/

#binaries
**/**.exe
**/bin/
**/obj/
